<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @station.name %>
</p>

<%= link_to t('common.edit'), edit_admin_station_path(@station) %> |
<%= link_to t('common.back'), admin_stations_path %>
