<div class="container">
  <h1 class="text-center">Trains</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col" colspan="3" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= render @trains %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Train', new_admin_train_path, class: "btn btn-primary" %>  
</div>