<p> Привет, <%= @user.full_name %> </p>
<p> Вы купили билет по маршруту "<%= @ticket.route_name%>" </p>
<p> Посмотреть билет вы можете <%= link_to 'тут', @ticket %> </p>
<p> Все билеты доступны  <%= link_to 'здесь', tickets_url %> </p>
